/*
	Eric Meyer's Reset CSS v2.0
	
	NOTICE: This copy of the CSS reset has been modified
	to make main tag "display: block" because the default in
	even IE 11 is "display: inline", which is not correct.
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
	font: 14px/1.25em sans-serif;
}

code {
	font-family: 'Consolas', 'Menlo', 'Monaco', 'Courier New', monospace;
	padding: 0 3px;
}

header {
	padding: 20px;
}

.intro {
	display: flex;
}

.intro > div {
	width: 33.333%;
}

h1 {
	font-size: 34px;
	font-weight: bold;
	line-height: 1.5em;
}

h2 {
	font-size: 24px;
	line-height: 1.3em;
}

p {
	margin-top: 20px;
	line-height: 1.5em;
}

p:first-child {
	margin-top: 0;
}

#brand {
	max-width: 400px;
	max-height: 150px;
	float: right;
}

table {
	width: 100%;
	table-layout: fixed;
}

th {
	padding: 15px;
	background: #375EAB;
	text-align: center;
	color: #FFF;
	font-size: 20px;
}

th label {
	margin-left: 1em;
	font-size: 14px;
	cursor: pointer;
}

td {
	width: 50%;
	vertical-align: top;
}

#input,
#output {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	white-space: pre;
	width: 100%;
	display: block;
	padding: 3%;
	font: 14px/1.5em 'Consolas', 'Menlo', 'Monaco', 'Courier New', monospace;
	outline: none;
	border: none;
	resize: vertical;
	height: 500px;
	height: 65vh;
	overflow: scroll;
	tab-size: 4;
}

#input {
	background: #ECF2F5;
	border-right: 2px solid #AAA;
}

#output {
	background: #E0EBF5;
}

footer {
	color: #888;
	text-align: center;
	padding: 25px 0 50px;
	line-height: 2em;
}

.clr-red {
	color: #CC0000;
}
.faulty-line {
	color: #C00;
	background: #FDD;
	font-weight: bold
}
.json-go-faulty-char  {
	border: 1px solid purple;
}

.copy {
	font-size: 14px;
    padding: 5px;
    background: #80808099;
	border-radius: 5px;
	cursor: pointer;
}
.copy:hover {
	background: #808080cf;
}

@media (max-width: 800px) {
	.intro {
		flex-direction: column;
	}

	.intro > div {
		width: 100%;
	}

	#brand {
		float: none;
		margin: 20px auto;
		display: block;
	}
}